<p>parent works!</p>
<app-child [name]="name"></app-child>
<nav>
  <div><a routerLink="/infiniteScroll" class="dash-item">Infinite Scroll</a></div>
  <div><a routerLink="/templateForm" class="dash-item">Template Form</a></div>
  <div><a routerLink="/nxTranslate" class="dash-item">Nx Translate Demo (TBD)</a></div>
  <div><a routerLink="/promiseTest" class="dash-item">Promise, async, await</a></div>
  <div><a routerLink="/viewContent" class="dash-item">View, Content Child</a></div>
  <div><a routerLink="/renderer" class="dash-item">Renderer Directive Example</a></div>
  <div><a routerLink="/convertToWord" class="dash-item">Convert number to english word</a></div>
  <div><a routerLink="/routeResolve" class="dash-item">Resolve Route Example (TBD)</a></div>

  ================
  Programs
  ================
  <div><a routerLink="/ticTacToe" class="dash-item">Tic Tac Toe</a></div>
 
  ==================================================
  Security
  ==================================================
  <app-bypass-security></app-bypass-security>
  <app-inner-html-binding></app-inner-html-binding>
</nav>

<ng-content></ng-content>
